.navbar-brand {
    margin-left: auto; 
    margin-right: auto;
}
.user-info {
    margin-top: 20px;
    height: 60px;
}
.rooms{
   background-color: transparent;
}
.list-group-flush {
    width: 105%;
}
.is-active {
    background-color: #890920;
}
.chat-history {
  overflow: scroll;
  height: 82vh;
}
.message-box {
    bottom: 0;
    left:30vw;
    right:2vw;
    position: fixed;
    z-index: 1000;
}
.send-btn {
    top: 10px;
}
.theme-color {
    background-color: #FA2149 !important;
    color: white;
    margin-left: auto;
}
.chat-area{
    padding-left: 0;
}
#room-list {
    background-color: #FA2149;
    height: 95vh;

}
#chat-header {
    box-shadow: 0 8px 6px -6px rgb(194, 193, 193);
}
#speech-bubble {
    border-radius: 25px;
    background: white;
    padding: 20px; 
    width: 200px;
    /* height: 150px;  */
}
