<div class="row">
  <div class="col-4 col-lg-3" id="room-list">
    <div class="container user-info">
      <h4 class="text-white text-capitalize">{{getCurrentUser()}}</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li 
        class="list-group-item rooms text-white w-100" 
        *ngFor="let room of rooms" 
          [class.is-active]="activeRoom == room.id"
        (click)="openChatRoom(room.id)">
        {{room.name}}
      </li>
    </ul>
  </div>

  <div class="col-8 col-lg-9 chat-area">
    <div>
        <div *ngIf="activeRoom === null"  class="">
            <p> Choose a chat room</p>
        </div>
        
    
        <nav class="navbar navbar-light bg-light"  *ngIf="activeRoom !== null" id="chat-header">
          <span class="navbar-brand ">{{activeRoomData.name}}</span>
          <p class="col-12 text-center">{{activeRoomData.users.toString()}}</p>
        </nav>

        <div *ngIf="activeRoom !== null" class="jumbotron chat-history" #chat>
          <div *ngFor="let msg of messages" class="col-12">
              <small id="uesrname" *ngIf ="msg.name !== getCurrentUser()" class="form-text text-muted">{{msg.name}}</small>
              <p id="speech-bubble" [class.theme-color]="msg.name === getCurrentUser()">{{msg.message}}</p>
          </div>
        </div>
        <div class="container">
          <div class="navbar navbar-light bg-light message-box col-8" *ngIf="activeRoom !== null">
            <div class="col-12 row">
              <input 
                class="form-control col-10" 
                type="text" 
                placeholder="Type your message" 
                aria-label="Search"
                [(ngModel)]="newMessage">
              <button class="btn offset-md-1  col-1 btn-link" type="submit" (click)="sendMessage()"> 
                <span class="text-primary">Send</span>
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>