<div class="container login-form">
  <div class="form-group">
    <input class="form-control col-5" type="text" placeholder="Type your username..." [(ngModel)]="userName" />
  </div>
  <div>
    <button id="join-btn" class="btn  col-5" (click)="login()">
      <span class="text-white"> Join the DoorDash chat!</span>
    </button>
  </div>
</div>